.App {
  text-align: center;
  font-family: "Asap", sans-serif;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: white;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1,
h2,
h3,
h4 {
  font-family: "Asap", sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

h3.subtitle {
  font-weight: normal;
  margin-top: 6px;
}

.navigation li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 12px;
}

.navigation li a {
  color: #333;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: underline;
}
