body {
	margin: 0;
	font-family: "Asap", sans-serif;
}

.dashboard {
	text-align: left;
}

.chart-widget {
	padding: 0;
	position: relative;
}

#charts-section {
	padding-top: 12px;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: -18px;
}

#charts-section .column {
	background-color: #f0efeb;
	border: 6px solid white;
}

#charts-section .chart-widget .column {
	border: 0;
	background-color: transparent;
}

.menu-izquierda {
	text-align: center;
}
