body {
	margin: 0;
	font-family: "Asap", sans-serif;
}

.dashboard {
	text-align: left;
}

.chart-widget {
	padding: 6px;
	background-color: #f0f0f0;
	position: relative;
}

#charts-section {
	padding-top: 12px;
	margin-top: -18px;
}

.menu-izquierda {
	text-align: center;
}
